<!DOCTYPE html>
<html>
  <head>
    <!--通过 Ruby 的 yield 函数把标题插入模板中-->
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <!--避免跨站请求伪造-->
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
